.sidebar{
    width: 240px;
    height: 100vh;
    background-color: rgb(40, 97, 148);
    border-right: 1px solid maroon;
    padding: 240px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 0%;
    margin-bottom: 10px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: rgb(154, 32, 32);
}

.nav-link.active {
    background-color: gray;
    color: rgb(49, 15, 15);
}